@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95%;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 0 0;
  border-bottom: solid;
  border-width: 0.2rem;
  box-sizing: border-box;
}
.headerTitle {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1vh;
}

.headerNumber {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1vh;
}

.middleContainer {
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
}
.wordContainer {
  display: flex;
  font-size: 0.3rem;
  box-sizing: border-box;
  padding-top: 1vh;
  gap: 7vw;
}
.words {
  display: flex;
  flex-direction: column;
}

.circleContainer {
  display: flex;
  flex-direction: column;
  flex: 5 0 0;
  box-sizing: border-box;
  gap: 3vh;
}

.circles {
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 24vw;
  height: 24vw;
  border-radius: 12vw;
}

.sky {
  background-color: #bbe0f1;
}
.charcoal {
  background-color: #606365;
}
.green {
  background-color: #0ba465;
}
