form(action="addMovie", method="POST")
    input(name="title", type="text", placeholder="Movie Title", required)
    input(name="synopsis", type="text", placeholder="synopsis", required)
    input(name="genres", type="text", placeholder="genres", required)
    input(type="submit", value="Add Movie")