doctype html
html(lang="ko")
  head
    title home
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    main
      h1 home
      form(method="POST", action="/read" enctype="multipart/form-data")
        label(for="textfile") textfile
        input(type="file", id="textfile", name="textfile", accept="text/*")
        input(type="submit", value="Upload")
